<!-- <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/39/39460.png" sizes="32x32">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Registro Clientes</title>
  </head>
  <body id="body">
    <!-- Navbar -->  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="<%='/'%>">
          <img src="/images/fondo/logoblanco.png" alt="Logo" width="100px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#LoginContent" aria-controls="LoginContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="LoginContent">
        <ul class="navbar-nav ml-auto">
          
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0 mr-sm-2">
          <input class="form-control mr-sm-2" type="search" placeholder="usuario" aria-label="usuario">
          <input class="form-control mr-sm-2" type="search" placeholder="clave" aria-label="clave">
          <input class="btn my-2 my-sm-0" type="submit" value="Iniciar Sesion" style="background-color: #F2F2F2;">
        </form> -->
        <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
          <div class="form-group">
          <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Correo" name="correo">
          </div>
          <div class="form-group">
          <input class="form-control form-control-sm mr-sm-2" type="password" placeholder="Contraseña" name="clave">
          </div>
          <input type="submit" class="btn btn-info btn-sm mr-sm-2" value="Iniciar Sesion">
          <a style="color: whitesmoke;" href=""><small>¿Olvido su contraseña?</small></a>
        <% if(locals.error) { %>
          <small class="ml-sm-2" style="background-color: red;"><%= error %></small>
        <% } %>
        </form>

      </div>
    </nav>

      <div class="container">
        <div class="row mt-sm-3 rounded" id="row">
            <div class="col">
                <h2 class = "text-center mt-sm-3" id="titulo">Registro de Clientes</h2><br>
                <form action="/register" method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Nombres:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Nombres" name="nombres" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Apellidos:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Apellidos" name="apellidos" required>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Correo:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" placeholder="Correo" name="correo" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Contraseña:</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" placeholder="Contraseña" name="clave" required>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Telefono(opcional):</label>
                      <div class="col-sm-10">
                          <input type="number" class="form-control" name="telefono" placeholder="Telefono">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Foto:</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file" name="foto">
                        </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-info">Enviar datos</button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>  
      </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <style>
          #titulo{
              color: black;
          }
          #row{
            background-color:rgba(207, 205, 205, 0.74); 
            height: auto;
          }
          #body{
            background: url(/images/fondo/fondo.jpg);
          }
      </style>
</body>
</html> 